.FeLogin_ProfImgUpload .inputfile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.FeLogin_ProfImgUpload .inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #499bc1;
    border: 2px solid currentColor;
}

.FeLogin_ProfImgUpload .inputfile:focus + label,
.FeLogin_ProfImgUpload .inputfile + label:hover {
    outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

#Fe_login_ProfImage .usrProfImg_Preview{
    height: 120px;
    width: 120px;
}
#Fe_login_ProfImage .edit_prof_img_area{
    max-width: 120px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#Fe_login_ProfImage .remove_prof_img{
    position: absolute;
    right: -15px;
    cursor: pointer;
}
#User_Details .ladda-button .ladda-spinner{
    height: auto !important;
}