#usr_management_area .panel {
  background: #ffffff;
  border-radius: 0;
  border: 1px solid #E2E2E2;
  border: none;
  color: #5b5b5b;
  margin-bottom: 20px;
  min-height: 30px;
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
#usr_management_area .panel:before {
  content: " ";
  display: table;
}
#usr_management_area .panel:after {
  content: " ";
  display: table;
}
#usr_management_area .panel .panel-content h1 {
  font-family: 'Lato';
  font-weight: 100;
  font-size: 28px;
  margin-top: 0;
}
#usr_management_area .panel .panel-content ul {
  padding-left: 0;
}
#usr_management_area .panel .panel-content ol {
  padding-left: 0;
}
#usr_management_area .panel .panel-content i {
  padding-left: 0;
  padding-right: 0px;
}
#usr_management_area .panel .panel-content .btn i {
  padding-right: 0;
}
#usr_management_area .panel .panel-header[class*="bg-"] h2 {
  color: #ffffff;
}
#usr_management_area .panel .panel-header {
  display: block;
  height: auto;
  padding: 6px 15px 6px 18px;
  z-index: 2;
  color: white;
}
#usr_management_area .panel .panel-header h2 {
  color: #5b5b5b;
  display: block;
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 100;
  line-height: normal;
  margin-bottom: 5px;
  margin-top: 7px;
  text-transform: uppercase;
}
#usr_management_area .panel .panel-header h3 {
  display: block;
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

#usr_management_area .panel .panel-header.header-line:before {
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  content: "";
  height: 1px;
  left: 16px;
  position: absolute;
  right: 16px;
}
#usr_management_area .panel .panel-title {
  display: inline-block;
  font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin: 5px;
  padding: 0;
}
#usr_management_area .panel .panel-footer.footer-line {
  background-color: #ffffff;
}
#usr_management_area .panel .panel-footer.footer-line:before {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  content: "";
  height: 1px;
  left: 0;
  position: relative;
  right: 0;
  top: -10px;
  width: 100%;
}
#usr_management_area .panel .panel-footer {
  background-color: #F4F4F4;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #E2E2E2;
  border-top: 1px solid #E2E2E2;
  border-top: none;
  padding: 10px 15px;
}
#usr_management_area .panel .panel-footer .btn {
  margin-bottom: 0;
}

#usr_management_area .panel.panel-transparent {
  -webkit-box-shadow: none;
  background: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}
#usr_management_area .panel.panel-transparent .panel-content {
  padding: 0;
}
#usr_management_area .portlets.ui-sortable {
  z-index: 2;
  min-height: 40px;
}
#usr_management_area .portlets.ui-sortable .panel-header {
  cursor: move;
}
#usr_management_area .panel.bg-aero .panel-content {
  color: #5b5b5b !important;
}
#usr_management_area .panel[class*='bg-'].control-btn > a {
  color: #ffffff !important;
  opacity: 0.8;
}
#usr_management_area .panel[class*='bg-'].panel-header:hover .control-btn > a {
  opacity: 1;
}
#usr_management_area .panel-content {
  padding: 20px 20px 10px 20px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#usr_management_area .panel-content h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 25px;
  text-transform: uppercase;
}
#usr_management_area .panel-transparent .panel-header {
  border: none !important;
}
#usr_management_area .panel-transparent .panel-content {
  border: none !important;
}
#usr_management_area .panel-transparent .panel-footer {
  border: none !important;
}
#usr_management_area .panel-placeholder {
  background-color: #DFE1E4 !important;
  border: 1px dashed #b6bcbf;
  margin-bottom: 20px;
  visibility: visible !important;
}

#usr_management_area .panel-default > .panel-heading {
  border-bottom: none;
}
#usr_management_area .panel-default {
  border-color: #E8E8E8;
}
#usr_management_area .sortable .panel-header {
  cursor: move;
}
#usr_management_area .panel-header i {
  padding-right: 6px;
}
#usr_management_area .panel-stat {
  border: none;
  overflow: hidden;
  position: relative;
}
#usr_management_area .panel-stat h1 {
  color: #121212;
}
#usr_management_area .panel-stat .stat-title {
  color: #121212;
  opacity: 0.7;
  text-transform: uppercase;
}
#usr_management_area .panel-stat .icon {
  bottom: 45px;
  color: rgba(0, 0, 0, 0.1);
  font-size: 100px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  vertical-align: bottom;
  z-index: 1;
}
#usr_management_area .panel-stat .bg-dark .icon {
  color: rgba(255, 255, 255, 0.1);
}
#usr_management_area .panel-stat .big-icon i {
  display: inline-block;
  font-size: 53px;
  margin-top: 8px;
  opacity: 0.3;
}
#usr_management_area .panel-stat .col-xs-6:last-child {
  text-align: right;
}
#usr_management_area .panel-stat > [class*="bg-"]h1 {
  color: #ffffff;
}
#usr_management_area .panel-stat > [class*="bg-"]h3 {
  color: #ffffff;
}
#usr_management_area .panel-stat[class*="bg-"].stat-title {
  color: #ffffff;
}
#usr_management_area .panel-stat-chart {
  margin-bottom: -10px;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -20px;
  position: relative;
}

.bg-gray:not(i) {
  background-color: #82848A !important;
  color: #000000 !important;
}
i.bg-gray::before {
  background-color: #82848A !important;
  color: #000000 !important;
}
.bg-gray.form-control:focus {
  background-color: #82848A !important;
  color: #000000 !important;
}
.bg-gray-light:not(i) {
  background-color: #fafafa !important;
  color: #5B5B5B !important;
}
i.bg-gray-light::before {
  background-color: #fafafa !important;
  color: #5B5B5B !important;
}
.bg-gray-light.form-control:focus {
  background-color: #fafafa !important;
  color: #5B5B5B !important;
}
.modal-footer.bg-gray-light:not(i) {
  background-color: #EFEFEF !important;
  color: #5B5B5B !important;
}
.bg-red:not(i) {
  background-color: #C9625F !important;
  color: #fff !important;
}
i.bg-red::before {
  background-color: #C9625F !important;
  color: #fff !important;
}
.bg-red.form-control:focus {
  background-color: #C9625F !important;
  color: #fff !important;
}
.bg-yellow:not(i) {
  background-color: #EBC85E !important;
  color: #fff !important;
}
i.bg-yellow::before {
  background-color: #EBC85E !important;
  color: #fff !important;
}
.bg-yellow.form-control:focus {
  background-color: #EBC85E !important;
  color: #fff !important;
}
.bg-white:not(i) {
  background-color: #fff !important;
  color: black !important;
}
i.bg-white::before {
  background-color: #fff !important;
  color: black !important;
}
.bg-white.form-control:focus {
  background-color: #fff !important;
  color: black !important;
}
.bg-light:not(i) {
  background-color: #E9E9E9 !important;
  color: black !important;
}
i.bg-light::before {
  background-color: #E9E9E9 !important;
  color: black !important;
}
.bg-light.form-control:focus {
  background-color: #E9E9E9 !important;
  color: black !important;
}
.bg-green:not(i) {
  background-color: #18a689 !important;
  color: #fff !important;
}
i.bg-green::before {
  background-color: #18a689 !important;
  color: #fff !important;
}
.bg-green.form-control:focus {
  background-color: #18a689 !important;
  color: #fff !important;
}
.bg-blue:not(i) {
  background-color: #4584D1 !important;
  color: #fff !important;
}
i.bg-blue::before {
  background-color: #4584D1 !important;
  color: #fff !important;
}
.bg-blue.form-control:focus {
  background-color: #4584D1 !important;
  color: #fff !important;
}
.bg-blue2:not(i) {
  background-color: #3498db !important;
  color: #fff !important;
}
i.bg-blue2::before {
  background-color: #3498db !important;
  color: #fff !important;
}
.bg-blue2.form-control:focus {
  background-color: #3498db !important;
  color: #fff !important;
}
.bg-primary:not(i) {
  background-color: #319DB5 !important;
  color: #fff !important;
}
i.bg-primary::before {
  background-color: #319DB5 !important;
  color: #fff !important;
}
.bg-primary.form-control:focus {
  background-color: #319DB5 !important;
  color: #fff !important;
}
.background-primary:not(i) {
  background-color: #319DB5;
  color: #fff;
}
i.background-primary::before {
  background-color: #319DB5;
  color: #fff;
}
.background-primary.form-control:focus {
  background-color: #319DB5;
  color: #fff;
}
.bg-primary-dark:not(i) {
  background-color: #164954;
  color: #fff;
}
i.bg-primary-dark::before {
  background-color: #164954;
  color: #fff;
}
.bg-primary-dark.form-control:focus {
  background-color: #164954;
  color: #fff;
}
.bg-blue-light:not(i) {
  background-color: #e8f4f8 !important;
  color: #5B5B5B !important;
}
i.bg-blue-light::before {
  background-color: #e8f4f8 !important;
  color: #5B5B5B !important;
}
.bg-blue-light.form-control:focus {
  background-color: #e8f4f8 !important;
  color: #5B5B5B !important;
}
.bg-blue-dark:not(i) {
  background-color: #30364A !important;
  color: #fff !important;
}
i.bg-blue-dark::before {
  background-color: #30364A !important;
  color: #fff !important;
}
.bg-blue-dark.form-control:focus {
  background-color: #30364A !important;
  color: #fff !important;
}
.bg-orange:not(i) {
  background-color: #F2A057 !important;
  color: #fff !important;
}
i.bg-orange::before {
  background-color: #F2A057 !important;
  color: #fff !important;
}
.bg-orange.form-control:focus {
  background-color: #F2A057 !important;
  color: #fff !important;
}
.bg-purple:not(i) {
  background-color: #A58BD3 !important;
  color: #fff !important;
}
i.bg-purple::before {
  background-color: #A58BD3 !important;
  color: #fff !important;
}
.bg-purple.form-control:focus {
  background-color: #A58BD3 !important;
  color: #fff !important;
}
.bg-purple2:not(i) {
  background-color: #6E62B5 !important;
  color: #fff !important;
}
i.bg-purple2::before {
  background-color: #6E62B5 !important;
  color: #fff !important;
}
.bg-purple2.form-control:focus {
  background-color: #6E62B5 !important;
  color: #fff !important;
}
.bg-purple-dark:not(i) {
  background-color: #393F51 !important;
  color: #fff !important;
}
i.bg-purple-dark::before {
  background-color: #393F51 !important;
  color: #fff !important;
}
.bg-purple-dark.form-control:focus {
  background-color: #393F51 !important;
  color: #fff !important;
}
.bg-dark:not(i) {
  background-color: #2B2E33 !important;
  color: #fff !important;
}
i.bg-dark::before {
  background-color: #2B2E33 !important;
  color: #fff !important;
}
.bg-dark.form-control:focus {
  background-color: #2B2E33 !important;
  color: #fff !important;
}
.bg-pink:not(i) {
  background-color: #DC88E6 !important;
  color: #fff !important;
}
i.bg-pink::before {
  background-color: #DC88E6 !important;
  color: #fff !important;
}
.bg-pink.form-control:focus {
  background-color: #DC88E6 !important;
  color: #fff !important;
}
.bg-aero:not(i) {
  background-color: #B9D5DB !important;
  color: #2C2C2C !important;
}
i.bg-aero::before {
  background-color: #B9D5DB !important;
  color: #2C2C2C !important;
}
.bg-aero.form-control:focus {
  background-color: #B9D5DB !important;
  color: #2C2C2C !important;
}

.img-sm {
  height: 35px;
  width: 35px;
}
.img-md {
  height: 65px;
  width: 65px;
}
.img-lg {
  height: 120px;
  width: 120px;
}
img {
  vertical-align: middle;
}

.img-circle {
  border-radius: 50%;
}
.hidden{
  display: none;
}
.user_list .users{
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin: 5px;
}

.user_list .users img{
  border: 1px solid gray;
  padding: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}
.usr_remove >i{
  visibility: hidden;
  cursor: pointer;
}
.users:hover .usr_remove >i{
  visibility:visible;
}
#usrManagementCtr .form-control{
  margin: 0px 5px;
}
#usrManagementCtr .btn{
  min-width: 130px;
}

#usrManagementCtr .form-control.invalid{
  border:1px solid red;
}
#usrManagementCtr .form-control.invalid ~.invalid-feedback:not(.custom) {
  display: block;
}
#usrManagementCtr .form-control.DonotMatch ~.invalid-feedback.mustMatch{
  display: block;
}
#usrManagementCtr .loading{
  display: none;
}
#usrManagementCtr .loading.show{
  display: block;
}
#usrManagementCtr .loading.show ~.User_Management_Area{
  display: none;
}

#usrManageWinMsg{
  text-align: center;
  padding: 10px;
}
#usrManageWinMsg .error{
  color:#dc3545;
}
.whenUpdate{
  display: none;
}
.updating .whenUpdate{
  display: block;
}