.user_list .users{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    
}

.user_list .users img{
    border: 1px solid gray;
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;
}
.whenUpdate{
    display: none;
}
.updating .whenUpdate{
    display: block;
}
.usr_remove{
    cursor: pointer;
}

.users:hover .usr_remove >i{
    -webkit-animation-name: fadeInUp !important;
    animation-name: fadeInUp !important;
}
.users .usr_remove >i{
    opacity: 0;
}
.form-row{
    margin-bottom: 5px;
}

.form-row > div{
    margin-bottom: 5px;
}
.usrroles.collapsed .fa-chevron-right{
    display: block !important;
}
.usrroles[aria-expanded="true"] .fa-chevron-down{
    display: block !important;
}